



<div class="form-body">
    <div class="form-container">
        <div class="title">Log in </div>
        <%= form_tag login_path do %> 
            <div class="user-info">
                <div class="input-box">
                    <%= label_tag :email %>
                    <%= email_field_tag :email %>
                </div>
                <div class="input-box">
                    <%= label_tag :password %>
                    <%= password_field_tag :password%>
                </div>
            </div>
            <%= submit_tag "Login", class: "button" %>
        <% end %>
    </div>
</div>