
<h1> All Users </h1>

<% @users.each do |user| %>
    <h1><%= user.name %></h1>
    <%= image_tag user.image, :class => "users" if user.image.present? %>
        <ul>
            <li> Name: <%= user.name %> </li>
            <li> Favourite Trainer: <%= user.favourite %> </li>
            <li> Number of Bouts: </li>
            
            <div class="controls">
                <%= link_to "Edit profile", edit_user_path(user)%>
                |
                <%= link_to "No Mas", user, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
            </div>
        </ul>   
<% end %>